[Unit]
Description=Droid mount for /vendor/bt_firmware
Before=local-fs.target systemd-modules-load.service

[Mount]
What=/dev/sde10
Where=/vendor/bt_firmware
Type=vfat
Options=ro,shortname=lower,uid=1002,gid=3002,dmask=227,fmask=337
# Options had SELinux context option:  context=u:object_r:bt_firmware_file:s0

# Default is 90 which makes mount period too long in case of
# errors so drop it down a notch.
TimeoutSec=10

[Install]
WantedBy=local-fs.target

# From ./out/target/product/nabu/vendor/etc/fstab.qcom :
# /dev/sde10                 /vendor/bt_firmware    vfat    ro,shortname=lower,uid=1002,gid=3002,dmask=227,fmask=337,context=u:object_r:bt_firmware_file:s0 wait
