[Unit]
Description=Droid mount for /vendor/firmware_mnt
Before=local-fs.target systemd-modules-load.service

[Mount]
What=/dev/sde9
Where=/vendor/firmware_mnt
Type=vfat
Options=ro,shortname=lower,uid=1000,gid=1000,dmask=227,fmask=337
# Options had SELinux context option:  context=u:object_r:firmware_file:s0

# Default is 90 which makes mount period too long in case of
# errors so drop it down a notch.
TimeoutSec=10

[Install]
WantedBy=local-fs.target

# From ./out/target/product/nabu/vendor/etc/fstab.qcom :
# /dev/sde9                     /vendor/firmware_mnt   vfat    ro,shortname=lower,uid=1000,gid=1000,dmask=227,fmask=337,context=u:object_r:firmware_file:s0 wait
